@model Hotel_Booking.Models.Phong
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="@Url.Action("Index", "Home",new { area = "Admin" })" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a href="@Url.Action("Index", "AdminPhong",new { area = "Admin" })" class="breadcrumb-item">Danh sách phòng</a>
            <span class="breadcrumb-item active">Chỉnh sửa phòng</span>
        </nav>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Phòng</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @*@Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <label>Tên phòng</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*@Html.LabelFor(model => model.DienTich, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <label>Diện tích phòng</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.DienTich, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DienTich, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*@Html.LabelFor(model => model.GiaThue, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <label>Giá thuê phòng</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.GiaThue, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GiaThue, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*@Html.LabelFor(model => model.TienNghi, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <label>Tiện nghi</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TienNghi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TienNghi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*@Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <label>Mô tả</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label class="control-label col-md-3">Loại giường</label>
            <div class="col-md-10">
                <select class="form-control" name="LoaiGiuong" id="LoaiGiuong">
                    <option value="1">Giường đơn</option>
                    <option value="2">Giường đôi</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
    </div>
    
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
