@model PagedList.IPagedList<Hotel_Booking.Models.Phong>
@using PagedList;
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<span id="Message" class="d-none">@TempData["Message"]</span>

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="@Url.Action("Index", "Home",new { area = "Admin" })" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách phòng</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-affix m-v-10">
                            <i class="prefix-icon anticon anticon-search opacity-04"></i>
                            <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tìm phòng khách sạn">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" href="@Url.Action("Create", "AdminPhong",new { area = "Admin" })"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm phòng</span></a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        @*<th scope="col">ID</th>*@
                        <th scope="col">Tên</th>
                        <th scope="col">Diện tích</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Tiện nghi</th>
                        <th scope="col">Mô tả</th>
                        <th scope="col">Loại giường</th>
                        <th scope="col">Khách sạn</th>
                        <th scope="col">#</th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded" src="@item.UrlHinhAnh" style="max-width: 100px" alt="">
                                        <h6 class="m-b-0 m-l-10">@item.Ten</h6>
                                    </div>
                                </td>
                                <td>@item.DienTich m2</td>
                                <td>@item.GiaThue.Value.ToString("#,##0") VNĐ</td>
                                <td>@item.TienNghi</td>
                                <td>@item.MoTa</td>

                                @if (item.LoaiGiuong == 1)
                                {
                                    <td>Giường đơn</td>
                                }
                                else
                                {
                                    <td>Giường đôi</td>

                                }
                                <td>@item.KhachSan.Ten</td>
                                <td>
                                    <a href="@Url.Action("Edit", "AdminPhong",new {id = item.Id,  area = "Admin" })" title="Chỉnh sửa" class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                        <i class="anticon anticon-edit"></i>
                                    </a>
                                    <a href="@Url.Action("Delete", "AdminPhong",new {id = item.Id,  area = "Admin" })" title="Xóa" class="btn btn-icon btn-hover btn-sm btn-rounded">
                                        <i class="anticon anticon-delete"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            toastr.options = {
                "closeButton": true,
                "progressBar": true,
            }
            var message = $('#Message').text();
            if (message !== '') {
                toastr.success(message);
            }
        });

        $("#keyword").keyup(function () {
            var strkeyword = $('#keyword').val();
            $.ajax({
                url: '/Admin/Search/FindPhong/',
                datatype: "json",
                type: "POST",
                data: { keyword: strkeyword },
                async: true,
                success: function (results) {
                    $("#records_table").html("");
                    $("#records_table").html(results);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
    </script>
}
