
@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>

            <td>@item.Id</td>
            <td>@item.TaiKhoan</td>
            <td>@item.Phong.Ten</td>
            @*<td>@item.NgayDat</td>*@
            <td>@item.NgayDen</td>
            <td>@item.NgayTra</td>
            @*<td>@item.DichVu</td>
                <td>@item.GhiChu</td>*@
            <td>@item.ThanhTien</td>
            @if (item.isPaid == true)
            {
                <td>Đã thanh toán</td>
            }
            else
            {
                <td>Chưa thanh toán</td>
            }
            <td>
                <a href="@Url.Action("Edit", "AdminLoaiKhachSan",new {id = item.Id,  area = "Admin" })" title="Edit" class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                    <i class="anticon anticon-edit"></i>
                </a>
                <a href="@Url.Action("Delete", "AdminLoaiKhachSan",new {id = item.Id,  area = "Admin" })" title="Delete" class="btn btn-icon btn-hover btn-sm btn-rounded">
                    <i class="anticon anticon-delete"></i>
                </a>
            </td>
        </tr>
    }
}

