
@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>

            <td>
                @item.Id
            </td>
            <td>
                <div class="d-flex align-items-center">
                    <img class="img-fluid rounded" src="@item.UrlHinhAnh" style="max-width: 60px" alt="">
                    <h6 class="m-b-0 m-l-10">@item.Ten</h6>
                </div>
            </td>
            <td>@item.MoTa</td>            
            <td>
            <td>
                <a href="@Url.Action("Edit", "AdminLoaiKhachSan",new {id = item.Id,  area = "Admin" })" title="Chỉnh sửa" class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                    <i class="anticon anticon-edit"></i>
                </a>
                <a href="@Url.Action("Delete", "AdminLoaiKhachSan",new {id = item.Id,  area = "Admin" })" title="Xóa" class="btn btn-icon btn-hover btn-sm btn-rounded">
                    <i class="anticon anticon-delete"></i>
                </a>
            </td>
        </tr>
    }
}
