@model  PagedList.IPagedList<Hotel_Booking.Models.DatPhong>
@using PagedList;
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<span id="Message" class="d-none">@TempData["Message"]</span>

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="@Url.Action("Index", "Home",new { area = "Admin" })" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách các phòng đã đặt </span>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-affix m-v-10">
                            <i class="prefix-icon anticon anticon-search opacity-04"></i>
                            <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tìm các phòng đã đặt">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên tài khoản</th>
                        <th>Tên phòng</th>
                        <th>Ngày đặt</th>
                        <th>Ngày đến</th>
                        <th>Ngày trả</th>
                        <th>Dịch vụ</th>
                        <th>Ghi chú</th>
                        <th>Thành tiền</th>
                        <th>Thanh toán</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>

                                <td>@item.Id</td>
                                <td>@item.TaiKhoan</td>
                                <td>@item.Phong.Ten</td>
                                <td>@item.NgayDat</td>
                                <td>@item.NgayDen</td>
                                <td>@item.NgayTra</td>
                                <td>@item.DichVu</td>
                                <td>@item.GhiChu</td>
                                <td>@item.ThanhTien</td>
                                @if (item.isPaid == true)
                                {
                                    <td>Đã thanh toán</td>
                                }
                                else
                                {
                                    <td>Chưa thanh toán</td>
                                }
                                <td>
                                    @*<a href="@Url.Action("Edit", "AdminDatPhong",new {id = item.Id,  area = "Admin" })" title="Chỉnh sửa" class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                            <i class="anticon anticon-edit"></i>
                                        </a>*@
                                    <a href="@Url.Action("Delete", "AdminDatPhong",new {id = item.Id,  area = "Admin" })" title="Xóa" class="btn btn-icon btn-hover btn-sm btn-rounded">
                                        <i class="anticon anticon-delete"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var message = $('#Message').text();
            toastr.options = {
                "closeButton": true,
                "progressBar": true,
            }
            if (message !== '') {
                toastr.success(message);
            }
        });

        $("#keyword").keyup(function () {
            var strkeyword = $('#keyword').val();
            $.ajax({
                url: '/Admin/Search/FindDatPhong/',
                datatype: "json",
                type: "POST",
                data: { keyword: strkeyword },
                async: true,
                success: function (results) {
                    $("#records_table").html("");
                    $("#records_table").html(results);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
    </script>
}

