@model Hotel_Booking.Models.TaiKhoan
@using System.Globalization
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Hotel_Booking.Models.DatPhong> DSDatPhong = ViewBag.DatPhong;
}


<span id="Message" class="d-none">@TempData["Message"]</span>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.TenTaiKhoan)
    <div id="dashboard" class="pt-10 pb-10">
        <div class="container">
            <div class="dashboard-main">
                <div class="row">
                    @*menu*@
                    <div class="dashboard-sidebar">
                        <a href="#" class="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i> Dashboard Navigation</a>
                        <div class="dashboard-nav">
                            <div class="dashboard-nav-inner">
                                <ul>
                                    <li class="active"><a id="account-dashboard-tab" href="@Url.Action("Index","Account")" role="tab" aria-controls="account-dashboard" aria-selected="true"><i class="sl sl-icon-settings"></i> Account Information</a></li>
                                    <li><a id="account-details-tab" href="@Url.Action("Edit","Account")" role="tab" aria-controls="account-details" aria-selected="false"><i class="sl sl-icon-user"></i> Edit Information</a></li>
                                    <li><a id="account-orders-tab" href="@Url.Action("Oder","Account")" role="tab" aria-controls="account-orders" aria-selected="false"><i class="fa fa-list-ul"></i>Booking History</a></li>
                                    <li><a href="@Url.Action("DangXuat","Account")" role="tab" aria-selected="false"><i class="sl sl-icon-power"></i> Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    @*Lịch sử đặt hàng*@
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
                        <div class="dashboard-content">
                            <div class="dashboard-form mb-4">
                                <div class="row">

                                    @if (DSDatPhong != null && DSDatPhong.Count() > 0)
                                    {
                                        <h4>List of rooms booked</h4>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover">
                                                <tbody>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Room</th>
                                                        <th>Check In</th>
                                                        <th>Check Out</th>
                                                        <th>Cost</th>
                                                        <th>Hủy</th>
                                                    </tr>
                                                    @foreach (var item in DSDatPhong)
                                                    {
                                                        <tr>
                                                            <td><a class="account-order-id" href="javascript:void(0)">#@item.Id</a></td>
                                                            <td>@item.Phong.Ten</td>

                                                            <td>@string.Format(new CultureInfo("vi-VN"), "{0:dddd}, {0:dd} tháng {0:MM}, {0:yyyy}", item.NgayDen)</td>
                                                            <td>@string.Format(new CultureInfo("vi-VN"), "{0:dddd}, {0:dd} tháng {0:MM}, {0:yyyy}", item.NgayDen) - @string.Format(new CultureInfo("vi-VN"), "{0:dddd}, {0:dd} tháng {0:MM}, {0:yyyy}", item.NgayTra)</td>
                                                            <td>@item.ThanhTien.Value.ToString("#,##0") VNĐ</td>
                                                            <td>
                                                                @if (@item.NgayDen >= @DateTime.Now && item.isPaid == false)
                                                                {
                                                                    <a href="@Url.Action("CancelRoom", "Account", new {id = item.Id})">
                                                                        <i class="fa fa-trash-alt text-danger"
                                                                           aria-hidden="true"></i>
                                                                    </a>
                                                                }
                                                            </td>

                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                    else
                                    {
                                        <p>No booking yet!</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var message = $('#Message').text();
            if (message !== '') {
                toastr.success(message);
            }
        });
    </script>
}


