@model IEnumerable<Hotel_Booking.Models.QuyenTruyCap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="@Url.Action("Index", "Home",new { area = "Admin" })" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">List of Role</span>
        </nav>
    </div>
</div>

<span id="Message" class="d-none">@TempData["Message"]</span>

<div class="row m-b-30">
    <div class="col-lg-8">
        <a href="@Url.Action("Create", "AdminQuyenTruyCap",new { area = "Admin" })" class="btn btn-primary"><i class="anticon anticon-plus-circle m-r-5"></i><span>Add</span></a>
    </div>
    <div class="col-lg-4 ">

    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Role Nam</th>
                <th scope="col">Description</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.MaQuyenTryCap</th>
                        <td>@item.TenQuyenTryCap</td>
                        <td>@item.Mota</td>
                        <td>
                            <a href="@Url.Action("Edit", "AdminQuyenTruyCap",new {id = item.MaQuyenTryCap,  area = "Admin" })" title="Edit" class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                <i class="anticon anticon-edit"></i>
                            </a>
                            <a href="@Url.Action("Delete", "AdminQuyenTruyCap",new {id = item.MaQuyenTryCap,  area = "Admin" })" title="Delete" class="btn btn-icon btn-hover btn-sm btn-rounded">
                                <i class="anticon anticon-delete"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var message = $('#Message').text();
            toastr.options = {
                "closeButton": true,
                "progressBar": true,
            }
            if (message !== '') {
                toastr.success(message);
            }
        });
    </script>
}