@model PagedList.IPagedList<Hotel_Booking.Models.KhachSan>
@using PagedList;
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Hotel_Booking.Models.ThanhPho tp = ViewBag.ThanhPho;
    Hotel_Booking.Models.ThanhPho tp2 = ViewBag.tp;
    bool kt = false;
    if (ViewBag.ngayden != null)
    {
        DateTime ngayden = ViewBag.ngayden;
        kt = true;
    }
    if (ViewBag.ngaydi != null)
    {
        DateTime ngaydi = ViewBag.ngaydi;
    }
}


<span id="Message" class="d-none">@TempData["Message"]</span>
<span id="MessageErr" class="d-none">@TempData["MessageErr"]</span>

<section class="breadcrumb-main pb-0" style="background-image: url(/Content/assets/images/bg/bg8.jpg);">
    <div class="breadcrumb-outer pt-10">
        <div class="container">
        </div>
    </div>
    <div class="dot-overlay"></div>
</section>


@if (tp2.Active == false || @Model.Count == 0)
{
    @Html.Partial("NotFound")
}
else
{
    <section class="blog destination-b pb-6">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xs-12 mb-4">
                    <div class="trend-box">
                        <div class="list-results">
                            <div class="d-flex justify-content-between align-items-center mb-2 border-b pb-2">
                                <h3 style="font-size: 25px" class="mb-0">@tp.Ten: tìm thấy @ViewBag.soks chổ nghỉ</h3>
                                <div class="click-menu d-flex align-items-center justify-content-between">
                                    <div class="change-list f-active mr-2"><a href="hotel-list.html"><i class="fa fa-bars"></i></a></div>
                                    <div class="change-grid"><a href="#"><i class="fa fa-th"></i></a></div>
                                </div>
                            </div>
                        </div>
                        @foreach (var item in Model)
                        {
                            <div class="blog-full d-flex justify-content-around mb-4">
                                <div class="row w-100">
                                    <div class="col-lg-5 col-md-4 col-xs-12 blog-height">
                                        <div class="blog-image">
                                            <a href="@Url.Action("Detail", "KhachSan",new { id = item.Id })" style="background-image: url(@item.UrlHinhAnh1);"></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-8 col-xs-12">
                                        <div class="trend-content-main">
                                            <div class="trend-content pt-2 pb-2">
                                                <div class="pb-1 d-flex align-items-center justify-content-between">
                                                    <div class="rating">
                                                        @for (int i = 0; i < item.DanhGia; i++)
                                                        {
                                                            <small class="fas fa-star pink"></small>
                                                        }
                                                    </div>
                                                    <a href="#"><i class="flaticon-like"></i></a>
                                                </div>
                                                <h3 class="mb-1"><a href="@Url.Action("Detail", "KhachSan",new { id = item.Id })">@item.Ten</a></h3>
                                                <div class="mb-2">
                                                    <i class="icon fa fa-map-marker-alt mr-2"></i> @item.DiaChi
                                                    <small class="px-1 font-size-15"> - </small>
                                                    <span class="text-primary font-size-14">View on map</span>
                                                </div>
                                                <div class="mb-2">
                                                    <span class="text-primary font-size-14">Cách trung tâm: @item.CachTrungTam km</span>
                                                </div>
                                                <div class="mb-2">
                                                    <span class="text-primary font-size-14">@item.LoaiKhachSan.Ten</span>
                                                </div>
                                                <div class="trend-daily">
                                                    <h4 class="mb-0 pink font-weight-bold">From 150.000 VNĐ <small>/ night</small></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12 mb-4">
                    <div class="sidebar-sticky">
                        @using (Html.BeginForm("Search", "KhachSan"))
                        {
                            <div class="sidebar-item mb-4">
                                <div class="form-content">
                                    <h4 class="title white">Tìm khách sạn</h4>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="white">Tên chổ nghỉ / điểm đến</label>
                                                <div class="input-box">
                                                    <i class="flaticon-placeholder"></i>
                                                    <input type="text" name="keyword" value="@tp.Ten" placeholder="Bạn muốn đến đâu?" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="white">Ngày nhận phòng</label>
                                                <div class="input-box">
                                                    @*<i class="flaticon-calendar"></i>*@
                                                    @if (kt == true)
                                                    {
                                                        <input style="padding-left: 10px" type="date" min="" id="ngayden" name="ngayden" value="@ViewBag.ngayden.ToString("yyyy-MM-dd")" required>

                                                    }
                                                    else
                                                    {
                                                        <input style="padding-left: 10px" type="date" min="" id="ngayden" name="ngayden" required>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="white">Ngày trả phòng</label>
                                                <div class="input-box">
                                                    @*<i class="flaticon-calendar"></i>*@
                                                    @if (kt == true)
                                                    {
                                                        <input style="padding-left: 10px" type="date" min="" id="ngaydi" name="ngaydi" value="@ViewBag.ngaydi.ToString("yyyy-MM-dd")" required>

                                                    }
                                                    else
                                                    {
                                                        <input style="padding-left: 10px" type="date" min="" id="ngaydi" name="ngaydi" required>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="white">Số người</label>
                                                <div class="input-box">
                                                    <i class="flaticon-add-user"></i>
                                                    <select class="niceSelect">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group mb-0">
                                                <button type="submit" class="nir-btn w-100"><i class="fa fa-search"></i>Tìm</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @using (Html.BeginForm("Filter", "KhachSan", FormMethod.Get, new { id = "filterForm" }))
                        {
                            <div class="list-sidebar">
                                <div class="sidebar-item">
                                    <div class="detail-title">
                                        <h3>Chọn lọc theo</h3>
                                    </div>
                                </div>
                                <div class="sidebar-item">
                                    <div class="detail-title">
                                        <h3>Xếp hạng</h3>
                                    </div>
                                    <div class="sidebar-content">
                                        <div class="pretty p-default p-thick p-pulse">
                                            <input type="checkbox" />
                                            <div class="state">
                                                <label>không xếp hạng</label>
                                            </div>
                                        </div>
                                        <div class="sidebar-content">
                                            <div class="pretty p-default p-thick p-pulse">
                                                <input name="starRating" type="checkbox" />
                                                <div class="state">
                                                    <label>1 sao</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-thick p-pulse">
                                                <input name="starRating" type="checkbox" />
                                                <div class="state">
                                                    <label>2 sao</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-thick p-pulse">
                                                <input name="starRating" type="checkbox" />
                                                <div class="state">
                                                    <label>3 sao</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-thick p-pulse">
                                                <input name="starRating" type="checkbox" />
                                                <div class="state">
                                                    <label>4 sao</label>
                                                </div>
                                            </div>
                                            <div class="pretty p-default p-thick p-pulse">
                                                <input type="checkbox" />
                                                <div name="starRating" class="state">
                                                    <label>5 sao</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-item">
                                    <h3>Cách trung tâm</h3>
                                    <div class="pretty p-default p-thick p-pulse">
                                        <input type="checkbox" />
                                        <div class="state">
                                            <label>Dưới 1 km</label>
                                        </div>
                                    </div>
                                    <div class="pretty p-default p-thick p-pulse">
                                        <input type="checkbox" />
                                        <div class="state">
                                            <label>Dưới 3 km</label>
                                        </div>
                                    </div>
                                    <div class="pretty p-default p-thick p-pulse">
                                        <input type="checkbox" />
                                        <div class="state">
                                            <label>Dưới 5km</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-item">
                                    <h3>Loại chỗ ở</h3>
                                    <div class="pretty p-default p-thick p-pulse">
                                        <input type="checkbox" />
                                        <div class="state">
                                            <label>Khách sạn</label>
                                        </div>
                                    </div>
                                    <div class="pretty p-default p-thick p-pulse">
                                        <input type="checkbox" />
                                        <div class="state">
                                            <label>Biệt thự</label>
                                        </div>
                                    </div>
                                    <div class="pretty p-default p-thick p-pulse">
                                        <input type="checkbox" />
                                        <div class="state">
                                            <label>Resort</label>
                                        </div>
                                    </div>
                                    <div class="pretty p-default p-thick p-pulse">
                                        <input type="checkbox" />
                                        <div class="state">
                                            <label>Thôn dã</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}


@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            var message = $('#MessageErr').text();
            if (message !== '') {
                toastr.error(message);
            }
        });
        $(document).ready(function () {
            var message = $('#Message').text();
            if (message !== '') {
                toastr.success(message);
            }
        });

        var date = new Date();
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;

        /*   document.getElementById("ngayden").value = today*/
        document.getElementById("ngayden").setAttribute("min", today);


        /* document.getElementById("date2").value = today;*/
        document.getElementById("ngaydi").setAttribute("min", today);
        //filter
        var checkboxes = document.querySelectorAll('#filterForm input[type="checkbox"]');
        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                document.getElementById('filterForm').submit();
            });
        });
    </script>
}
