
<header class="main_header_area">
    <div class="header-content bg-navy">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="links">
                <ul>
                    <li><a href="#" class="white"><i class="fa fa-phone"></i> (000)999-898-888</a></li>
                    <li>
                        <a href="#" class="white">
                            <i class="fa fa-support"></i> <span class="__cf_email__"
                                                                data-cfemail="8ae3e4ece5cad3ebfef8e3e3fde5f8e6eea4e9e5e7">[email&#160;protected]</span>
                        </a>
                    </li>
                    <li><a href="#" class="white"><i class="fa fa-map-marker"></i> Mon-Fri: 10 AM – 5 PM</a></li>
                </ul>
            </div>
            <div class="links float-right">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook white" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter white" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram white" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin white" aria-hidden="true"></i></a></li>
                    <li><a href="#search1" class="mt_search"><i class="icon-magnifier white"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="header_menu" id="header_menu">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-flex d-flex align-items-center justify-content-between w-100 pb-2 pt-2">

                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">
                            <img src="~/Content/assets/images/logo.png" alt="image">
                        </a>
                    </div>

                    <div class="navbar-collapse1 d-flex align-items-center" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav" id="responsive-menu">
                            <li class="dropdown submenu active">
                                <a href="@Url.Action("Index", "Home")" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    Home <i aria-hidden="true"></i>
                                </a>
                            </li>
                            <li><a href="about.html">About Us</a></li>
                            <li class="submenu dropdown">
                                <a href="blog-home.html/index.html"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    Blogs <i class="icon-arrow-down" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog-list.html">Blog List</a></li>
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-full.html">Blog Fullwidth</a></li>
                                    <li><a href="blog-left.html">Blog Left</a></li>
                                    <li><a href="blog-list.html">Blog Right</a></li>
                                    <li><a href="blog-masonry.html">Blog Masonry</a></li>
                                    <li><a href="blog-single.html">Blog Single</a></li>
                                    <li><a href="blog-single-full.html">Blog Single Full</a></li>
                                </ul>
                            </li>
                            <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="register-login">
                        @if (User.Identity.IsAuthenticated)
                        {
                            Hotel_Booking.Models.HotelBookingContext context = new Hotel_Booking.Models.HotelBookingContext();
                            var tentk = Session["TenTaiKhoan"];
                            var name = context.TaiKhoans.FirstOrDefault(p => p.TenTaiKhoan == tentk);
                            <a style="color:#0791be; margin-right: 7px">Hello, @name.HoTen</a>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Action("Index", "Account")" class="mr-2">
                                <i class="icon-user mr-1"></i> Account
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("DangKy", "Account")" class="mr-2">
                                <i class="icon-user mr-1"></i> Register
                            </a>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Action("DangXuat", "Account")">
                                <i class="icon-login mr-1"></i>
                                Log Out
                            </a>
                        }
                        else
                        { <a href="@Url.Action("DangNhap", "Account")">
                                <i class="icon-login mr-1"></i>
                                Login
                            </a>
                        }

                    </div>
                    <div id="slicknav-mobile"></div>
                </div>
            </div>
        </nav>
    </div>

</header>