

<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item">
                <a class="dropdown-toggle">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>

            @*Quản lí đơn hàng*@
            <li class="nav-item">
                <a class="dropdown-toggle" href="@Url.Action("Index", "AdminQuanLyDonHang", new { area = "Admin" })">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">Quản lý đơn hàng</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>

            @*Quản lí sản phẩm*@
            <li class="nav-item">
                <a class="dropdown-toggle" href="@Url.Action("Index", "AdminSanPham", new { area = "Admin" })">
                    <span class="icon-holder">
                        <i class="anticon anticon-build"></i>
                    </span>
                    <span class="title">Quản lý sản phẩm</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>

            @*Quản lí khách hàng*@
            <li class="nav-item">
                <a class="dropdown-toggle" href="@Url.Action("Index", "AdminKhachHang",new { area = "Admin" })">
                    <span class="icon-holder">
                        <i class="anticon anticon-hdd"></i>
                    </span>
                    <span class="title">Quản lý khách hàng</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>

            @*Quản lí hệ thống*@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-table"></i>
                    </span>
                    <span class="title">Quản lí hệ thống</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Quản lí tài khoản", "Index", "AdminTaiKhoans", new { area = "Admin" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Quản lí danh mục", "Index", "AdminDanhMuc", new { area = "Admin" }, null)@*<a href="form-layouts.html">Quản lý danh mục</a>*@
                    </li>
                    <li>
                        @Html.ActionLink("Quản lí quyền truy cập", "Index", "AdminQuyenTruyCap", new { area = "Admin" }, null)
                    </li>
                </ul>
            </li>


            @*Shipper*@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="@Url.Action("Index", "AdminShipper",new { area = "Admin" })">
                    <span class="icon-holder">
                        <i class="anticon anticon-lock"></i>
                    </span>
                    <span class="title">Quản lý Shipper</span>
                    <span class="arrow">

                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
