

<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item">
                <a class="dropdown-toggle">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>

            @*Quản lí đơn đặt phòng*@
            <li class="nav-item">
                <a class="dropdown-toggle" href="@Url.Action("Index", "AdminDatPhong", new { area = "Admin" })">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">Quản lý đặt phòng</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>

            @*Quản lí thành phố*@
            <li class="nav-item">
                <a class="dropdown-toggle" href="@Url.Action("Index", "AdminThanhPho", new { area = "Admin" })">
                    <span class="icon-holder">
                        <i class="anticon anticon-build"></i>
                    </span>
                    <span class="title">Quản lý thành phố</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>

            @*Quản lí khách sạn*@
        <li class="nav-item dropdown">
            <a class="dropdown-toggle" href="javascript:void(0);">
                <span class="icon-holder">
                    <i class="anticon anticon-hdd"></i>
                </span>
                <span class="title">Quản lý khách sạn</span>
                <span class="arrow">
                    <i class="arrow-icon"></i>
                </span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink("Quản lí loại khách sạn", "Index", "AdminLoaiKhachSan", new { area = "Admin" }, null)
                </li>
                <li>
                    @Html.ActionLink("Quản lí khách sạn", "Index", "AdminKhachSan", new { area = "Admin" }, null)
                </li>
                <li>
                    @Html.ActionLink("Quản lí phòng", "Index", "AdminPhong", new { area = "Admin" }, null)
                </li>
            </ul>
        </li>

            @*Quản lí hệ thống*@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-table"></i>
                    </span>
                    <span class="title">Quản lí hệ thống</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Quản lí tài khoản", "Index", "AdminTaiKhoan", new { area = "Admin" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Quản lí quyền truy cập", "Index", "AdminQuyenTruyCap", new { area = "Admin" }, null)
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
