

<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item">
                <a class="dropdown-toggle">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>

            @*Quản lí đơn đặt phòng*@
            <li class="nav-item">
                <a class="dropdown-toggle" href="@Url.Action("Index", "AdminDatPhong", new { area = "Admin" })">
                    <span class="icon-holder">
                        <i class="anticon anticon-schedule"></i>
                    </span>
                    <span class="title">Check-In/Check-Out</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>

            @*Quản lí thành phố*@
            <li class="nav-item">
                <a class="dropdown-toggle" href="@Url.Action("Index", "AdminThanhPho", new { area = "Admin" })">
                    <span class="icon-holder">
                        <i class='bx bx-buildings'></i>
                    </span>
                    <span class="title">City Manager</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>

            @*Quản lí khách sạn*@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-shop"></i>
                    </span>
                    <span class="title">Hotel Manager</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Hotel Type Manager", "Index", "AdminLoaiKhachSan", new { area = "Admin" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Hotel Manager", "Index", "AdminKhachSan", new { area = "Admin" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Room Manager", "Index", "AdminPhong", new { area = "Admin" }, null)
                    </li>
                </ul>
            </li>

            @*Quản lí hệ thống*@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-setting"></i>
                    </span>
                    <span class="title">Management system</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Account Manager", "Index", "AdminTaiKhoan", new { area = "Admin" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Role Manager", "Index", "AdminQuyenTruyCap", new { area = "Admin" }, null)
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
