@model Hotel_Booking.Models.ThanhPho

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    bool active = ViewBag.Active;
}


<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="@Url.Action("Index", "Home",new { area = "Admin" })" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a href="@Url.Action("Index", "AdminThanhPho",new { area = "Admin" })" class="breadcrumb-item">Danh sách thành phố</a>
            <span class="breadcrumb-item active">Chỉnh sửa</span>
        </nav>
    </div>
</div>

@using (Html.BeginForm("Edit", "AdminThanhPho", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Thành phố</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <label class="control-label col-md-2">Tên thành phố</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Mô tả</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <div class="checkbox">
                @if (ViewBag.Active == true)
                {
                    <input name="Active" id="checkbox1" type="checkbox" checked />
                }
                else
                {
                    <input name="Active" id="checkbox1" type="checkbox" />
                }
                <label for="checkbox1">Active</label>
            </div>
        </div>
    </div>
    <div>
        <label class="control-label col-md-2">Ảnh thành phố: </label>
        <div style="width:30%" class="form-group">
            <img style="max-width: 100%; object-fit: cover; width: 100%; height: 250px" src="@Model.UrlHinhAnh" alt="TP" />
            <input style="margin-top: 10px" type="file" name="ImageFile" class="form-control" accept=".png, .jpg, .jpeg" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
        </div>
    </div>
</div>
}


