@model PagedList.IPagedList<Hotel_Booking.Models.TaiKhoan>
@using PagedList;
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="@Url.Action("Index", "Home",new { area = "Admin" })" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách tài khoản</span>
        </nav>
    </div>
</div>

<span id="Message" class="d-none">@TempData["Message"]</span>

<div class="row m-b-30">
    <div class="col-lg-8">
        <a href="@Url.Action("Create", "AdminTaiKhoan",new { area = "Admin" })" class="btn btn-primary"><i class="anticon anticon-plus-circle m-r-5"></i><span>Thêm mới</span></a>
    </div>
    <div class="col-lg-4 ">

    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tên Tài Khoản</th>
                @*<th scope="col">Mật khẩu</th>*@
                <th scope="col">Họ Tên</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Email</th>
                <th scope="col">Active</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.TenTaiKhoan</th>                       
                        <td>@item.HoTen</td>
                        <td>@item.SoDienThoai</td>
                        <td>@item.Email</td>                        
                        <td>
                            @if (item.Active == true)
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                    <div>Active</div>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex align-items-center">
                                    <div class="badge badge-danger badge-dot m-r-10"></div>
                                    <div>Disable</div>
                                </div>
                            }

                        <td>
                        <td>
                            <a href="@Url.Action("Disable", "AdminTaiKhoan",new {tk = item.TenTaiKhoan,  area = "Admin" })" title="Xóa" class="btn btn-icon btn-hover btn-sm btn-rounded">
                                <i class="anticon anticon-delete"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var message = $('#MessageErr').text();
            if (message !== '') {
                toastr.error(message);
            }
        });
    </script>
}
