@model Hotel_Booking.Models.KhachSan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="@Url.Action("Index", "Home",new { area = "Admin" })" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a href="@Url.Action("Index", "AdminKhachSan",new { area = "Admin" })" class="breadcrumb-item">List of Hotel</a>
            <span class="breadcrumb-item active">Confirm Delete</span>
        </nav>
    </div>
</div>

<div class="card-body">
    <div class="table-responsive">
        <table class="product-info-table m-t-20">
            <tbody>
                <tr>
                    <td>ID:</td>
                    <td class="text-dark font-weight-semibold">@Model.Id</td>
                </tr>
                <tr>
                    <td>Hotel:</td>
                    <td>@Model.Ten</td>
                </tr>
                <tr>
                    <td>Hotel Address</td>
                    <td>@Model.DiaChi</td>
                </tr>
                <tr>
                    <td>Number Phone</td>
                    <td>@Model.SoDienThoai</td>
                </tr>
                <tr>
                    <td>Center</td>
                    <td>@Model.CachTrungTam</td>
                </tr>

                <tr>
                    <td>Description:</td>
                    <td>@Model.MoTa</td>
                </tr>
                <tr>
                    <td>Bordering sea</td>
                    @if (Model.GiapBien == true)
                    {
                        <td>YES</td>
                    }
                    else
                    {
                        <td>NO</td>
                    }

                </tr>
                <tr>
                    <td>Review:</td>
                    <td>
                        @Model.DanhGia  <i class='bx bxs-star'></i>
                </td>
            </tr>
            <tr>
                <td>City:</td>
                <td>@Model.ThanhPho.Ten</td>
            </tr>
            <tr>
                <td>Loại khách sạn:</td>
                <td>@Model.LoaiKhachSan.Ten</td>
            </tr>
            <tr>
                <td>Image Hotel:</td>
                <td>
                    <img width="200" height="200" src="@Model.UrlHinhAnh1" />
                </td>
            </tr>
            <tr>
                <td>Confirm Delete:</td>
                <td>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <form asp-action="Delete">
                            <input type="hidden" />
                            <input type="submit" value="Xóa" class="btn btn-danger" />
                        </form>
                    }
                </td>
            </tr>
        </tbody>

    </table>
</div>
</div>